.bg-dest-moon {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
}


.bg-gray-600 {
    background-color: rgb(75,88,99)
}

.bg-gray-500 {
    background-color: rgb(107, 114, 128);
}