.bg-dest-moon {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
}

.text-black {
    color: black;
}

#text {
    @media screen and (max-height: 700px) and (orientation: portrait) {
        line-height: 1rem;
        font-size: 0.75rem;
    }
}