@tailwind base;
@tailwind components;
@tailwind utilities;

.font1 {
    font-family: 'Barlow', sans-serif;
}

.font2 {
    font-family: 'Bellefair', sans-serif;
}

.bg-home-moon {
    background-image: url("./assets/home/background-home-desktop.jpg");
}
.m-bg-home-moon {
    background-image: url("./assets/home/background-home-mobile.jpg");
}
